<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>Admin Bereich</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Produkt hinzufügen</h1>
<form action="/admin" method="post" enctype="multipart/form-data">
  <label>Titel: <input type="text" name="title"></label><br>
  <label>Beschreibung:<br><textarea name="description" rows="4" cols="50"></textarea></label><br>
  <label>Bild: <input type="file" name="image"></label><br>
  <input type="submit" value="Hinzufügen">
</form>
<a href="/">Zurück</a>
</body>
</html>
